$font-family: "Nunito", "Roboto", "Helvetica", "Arial", sans-serif;
$border-radius: 8px;
$row-height: 56px;
$transition: all .3s cubic-bezier(.25,.8,.05,1);

$lg: 1200px;
$md: 992px;
$sm: 767px;
$xs: 576px;